// Modal: works
.close-btn {
    position: absolute;
    right: 3%;
    top: 1.5%;
    border: none;
    background-color: transparent;
    svg{
        fill: black;
    }
}

.works-modal {
    position: absolute;
    background-color: #dee1e9;
    width: 70%;
    height: max-content;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 2% 0 5% 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    .works-modal__logo {
        width: 95%;
    }
    .description {
        margin-top: 5%;
        padding: 0 10%;
        text-align: center;
        p {
            padding: 0;
            text-align: center;
            font-size: 0.8rem;
        }
        h2{
            text-align: center;
        }
        a button {
            background-color: black;
            color: white;
            padding: 2%;
            border: 2px solid black;
            font-size: 0.65rem;
            margin: 1% 2% 1% 0;
            white-space: nowrap;
            transition: all 0.4s ease-out;
            svg {
                position: relative;
                top: -1.5px;
                margin-left: 2%;
            }
        }
        a:hover > button {
            transform: scale(0.95, 0.95);
            background-color: $color;
            border: 2px solid $color;
            box-shadow: 2px 1px 9px 2px rgba(0, 0, 0, 0.24);
        }
    }
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
}

////// PC
@media (min-width: 992px) {
    .close-btn {
        right: 1%;
        top: 2%;
    }
    .works-modal .description {
            padding: 0;
            text-align: initial;
        p {
            padding: 0 15% 0 0;
            text-align: justify;
            font-size: 1rem;
        }
        h2{
            text-align: initial;
        }
        a button {
            padding: 1%;
            font-size: 0.72rem;
        }
    }
}
