textarea:focus, input[type="text"]:focus, textarea[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, .form-control:focus, .form-select:focus, .btn-close:focus {
  border-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.swiper-slide.about {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px !important;
  background-color: #d89b00;
  border-radius: 6px;
}

.swiper-container.about .swiper-wrapper {
  height: auto !important;
}

.swiper-container.about {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.swiper-slide .imgBx {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.swiper-slide .imgBx img {
  width: 100%;
}

.title-center.about {
  width: 220px;
  margin: 0 auto;
  padding-top: 20px;
}

.arrow--skills {
  -webkit-transform: translate(-1.25rem, 1.875rem);
          transform: translate(-1.25rem, 1.875rem);
}

.arrow--skills:nth-child(2) {
  -webkit-transform: translate(1.25rem, 1.875rem);
          transform: translate(1.25rem, 1.875rem);
}

.skills-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
  font-size: 0.85rem;
  font-weight: 300;
  margin-top: 5%;
}

.skills-title span {
  padding-left: 2px;
}

.services {
  -webkit-transform: translate(0, -1.25rem);
          transform: translate(0, -1.25rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services h4 {
  display: none;
}

.services p {
  display: none;
}

.services .svg {
  background-color: #191919;
  padding: 7%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}

.services .svg img {
  width: 45px;
}

.services .svg i {
  font-size: 30px;
  color: #00c59e;
}

.services .svg svg {
  fill: #00c59e;
}

.services p {
  text-align: center;
  padding: 0 10%;
}

.icon-heart-empty {
  -webkit-transform: translate(-1px, 1px);
          transform: translate(-1px, 1px);
}

.selector-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
}

.selector-container span {
  margin: 0 5px 0 5px;
  font-size: 0.67rem;
  text-transform: uppercase;
  color: #bfbfbf71;
}

.selector-container span:hover {
  cursor: pointer;
  color: white !important;
  text-decoration: underline !important;
}

.selector-container span:nth-child(1) {
  color: white;
  text-decoration: underline;
}

.carousel-skills {
  padding: 0 10%;
  margin-top: 10%;
}

.skills-container {
  margin: auto;
  margin-bottom: 85px;
  width: 80%;
  background-color: #14191fbf;
  color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding-top: 0.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.8rem;
  border-bottom-style: solid;
  border-color: #00c59e;
  border-bottom-width: 10px;
  cursor: url("../../../assets/img/Transparent.cur"), auto;
  -webkit-transition: 0.5s -webkit-transform ease-out;
  transition: 0.5s -webkit-transform ease-out;
  transition: 0.5s transform ease-out;
  transition: 0.5s transform ease-out, 0.5s -webkit-transform ease-out;
}

.skills-container .skills-container__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25%;
  width: 4rem;
  height: 4.1rem;
  margin-bottom: 2.7rem;
  border-radius: 50%;
  background-color: #00c59e;
}

.skills-container .skills-container__logo img {
  width: 70%;
  height: auto;
}

.skills-container h4 {
  margin-top: 20%;
  padding-bottom: 10%;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 300;
}

.skills-container:hover {
  background-color: #315a5a50;
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

.services-position {
  display: none;
}

@media (min-width: 768px) {
  .skills-container:hover {
    background-color: #315a5a50;
    -webkit-transform: scale(1.07, 1.07);
            transform: scale(1.07, 1.07);
  }
}

@media (min-width: 992px) {
  .carousel-skills {
    padding: 0 10%;
    margin-top: 2%;
  }
  .typed-skills {
    display: none;
  }
  .arrow--skills {
    -webkit-transform: translate(-5.625rem, 4rem);
            transform: translate(-5.625rem, 4rem);
  }
  .arrow--skills:nth-child(2) {
    -webkit-transform: translate(5.625rem, 4rem);
            transform: translate(5.625rem, 4rem);
  }
  .skills-container {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .selector-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .selector-container span {
    margin: 0 20px 0 20px;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #bfbfbf71;
  }
  .selector-container span:hover {
    cursor: pointer;
    color: white !important;
    text-decoration: underline !important;
  }
  .selector-container span:nth-child(1) {
    color: white;
    text-decoration: underline;
  }
  .services-position {
    padding: 0 20%;
    position: absolute;
    top: 17vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services h4 {
    display: initial;
    margin: 5% 0 0 0;
    color: #bfbfbf;
    font-family: "Raleway";
    text-transform: uppercase;
    font-size: 1rem;
  }
  .services p {
    display: initial;
    color: #606060;
    line-height: 20px;
    margin: 10px 0 0 0;
    font-size: 0.8rem;
  }
  .services .svg {
    background-color: #191919;
    padding: 7%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow: hidden;
  }
  .services .svg img {
    width: 45px;
  }
  .services .svg i {
    font-size: 30px;
    color: #00c59e;
  }
  .services .svg svg {
    fill: #00c59e;
  }
  .services p {
    text-align: center;
    padding: 0 10%;
  }
  .icon-heart-empty {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
}
/*# sourceMappingURL=SkillsSection.css.map */